/* 设置滚动条的样式 */
.markdown-body ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 滚动槽 */
.markdown-body ::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
.markdown-body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(127, 127, 127, 0.5);
}

/* 右下角 */
.markdown-body ::-webkit-scrollbar-corner {
    background: transparent;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(127, 127, 127, 0.5);
    background-color: #a0d8ef;
    background-image: -webkit-linear-gradient(45deg,rgba(240,145,153,1) 25%,transparent 25%,transparent 50%,rgba(240,145,153,1) 50%,rgba(240,145,153,1) 75%,transparent 75%,transparent);
}

/* 右下角 */
::-webkit-scrollbar-corner {
    background: transparent;
}