/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(127, 127, 127, 0.5);
    // background-color: #12b7f5;
    // background-image: -webkit-linear-gradient(45deg,rgba(255,93,143,1) 25%,transparent 25%,transparent 50%,rgba(255,93,143,1) 50%,rgba(255,93,143,1) 75%,transparent 75%,transparent);
}

/* 右下角 */
::-webkit-scrollbar-corner {
    background: transparent;
}