<!DOCTYPE html>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $("body").click(function(e) {
        var $text = $("<span>❤</span>");
        if (Math.random() <= 0.02) $text = $("<span>TX!</span>");
        var x = e.pageX, y = e.pageY;
        $text.css({
            "z-index": 1145141919810,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-weight": "bold",
            "color": "rgb("+~~(255 * Math.random())+","+~~(255 * Math.random())+","+~~(255 * Math.random())+")"
        });
        $("body").append($text);
        $text.animate({
            "top": y - 100,
            "opacity": 0
        },
        1500,
        function() {
            $text.remove();
        });
    });
});
var OriginTitile = document.title;
document.addEventListener("visibilitychange", function () { 
    if (document.title != "txtxj呼呼zzz") OriginTitile = document.title;
    document.title = document.hidden ? "Txtxj呼呼zzz" : OriginTitile;
});
</script>
<html>
{{- partial "mathjax.html" . -}}
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main id="content">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    {{- partial "footer-script" . -}}

    <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/frame/live2dcubismcore.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.6.1/pixi.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/live2dcubismframework.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/live2dcubismpixi.js"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/l2d.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/main.js"></script>

    <div class="Canvas" id="L2dCanvas"></div>
    <script>
        var config = {
            width: 600,
            height: 400,
            left: '-180px',
            bottom: '-60px',
            basePath: 'live2dw/assets',
            role: 'dafeng_2',
            background: null,
            opacity: 1,
            mobile: false,
            pointerevents: 'none',
        }
        var v = new Viewer(config);
        window.onload = function(){
            let dom = document.querySelector('.Canvas')
            console.log(dom)
            dom.style["pointer-events"]= 'none'
        }
    </script> -->
    
</body>

</html>