<!DOCTYPE html>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $("body").click(function(e) {
        var $text = $("<span>❤</span>");
        if (Math.random() <= 0.02) $text = $("<span>TX!</span>");
        var x = e.pageX, y = e.pageY;
        $text.css({
            "z-index": 1145141919810,
            "top": y,
            "left": x,
            "position": "absolute",
            "pointer-events": "none",
            "transform": "translate(-50%, -50%)",
            "font-weight": "bold",
            "color": "rgb("+~~(255 * Math.random())+","+~~(255 * Math.random())+","+~~(255 * Math.random())+")"
        });
        $("body").append($text);
        $text.animate({
            "top": y - 100,
            "opacity": 0,
            "fontSize": 0,
        },
        1500,
        function() {
            $text.remove();
        });
    });
});
var OriginTitile = document.title; 
document.addEventListener("visibilitychange", function () { 
    if (document.title != "txtxj呼呼zzz") OriginTitile = document.title;
    document.title = document.hidden ? "txtxj呼呼zzz" : OriginTitile;
});
function showBig(obj) {
  var popup = document.getElementById("popup");
  var img = popup.children[0].children[0];
  img.src = obj.src;
  var scale = 2.0;
  if (img.width * scale > window.innerWidth)
  {
    scale = window.innerWidth / img.width;
  }
  if (img.height * scale > window.innerHeight)
  {
    scale = window.innerHeight / img.height;
  }
  img.style.scale = scale;
  popup.style.display = "block";
}
function hideBig(obj) {
  obj.style.display = "none";
}
function wheelImg(obj) {
  img = obj.children[0].children[0];
  var scale = parseFloat(img.style.scale) || 1.0;
    scale += event.wheelDelta / 5000;
    if (scale > 0.9 && 
      img.width * scale <= window.innerWidth && 
      img.height * scale <= window.innerHeight)
        img.style.scale = scale;
    return false;
}
</script>
<html>
{{- partial "mathjax.html" . -}}
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="content">
    <!-- {{ partial "card/card-banner.html" . }} -->

    <div class="single-container layout-block">
      <div class="article-info">
        <div class="article-header layout-padding">
          {{ partial "card/card-cover.html" . }}
        </div>

        <div class="article-content">
          <div class="markdown-body content-padding-large soft-size--large soft-style--box">
            {{ .Content }}
          </div>
        </div>

        {{- block "main" . }}{{- end -}}
      </div>

      {{- block "widget" . -}}{{- end -}}
    </div>
  </main>

  <div id="popup" onclick="hideBig(this)" onmousewheel="return wheelImg(this)">
    <div class="bg"><img src="" alt="" /></div>
  </div>

  {{- partial "footer.html" . -}}

  {{- partial "footer-script" . -}}

  {{- partial "footer-single" . -}}
</body>

</html>